@import '../../../vars.scss';

.portal-param {
    z-index: 20;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem 0;
    height: 100%;
    background-color: #deedf6;

    &>div>h6 {
        font-size: 1em;
        font-weight: bold;
    }

    &>div>span {
        opacity: 0.9;
    }

    &__class-select {
        grid-row: -1;
        grid-column: 1 /-1;
        justify-self: center;
    }

}