#root {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  //max-width: 1280px;
  background-color: red;
  position: relative;
}


.bg-video {
  position: absolute;
  object-fit: cover;
  height: 33rem;
  width: 100%;
  filter: brightness(80%);
}




.container {
  position: relative;
  margin: 0 auto;
  width: clamp(400px, 95%, 1200px);
  background-color: rgba(32, 201, 17, 0.532);



  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 25rem auto 6rem;
  gap: 0px 0px;
  grid-template-areas:
    "navigation"
    "search-bar"
    "results"
    "footer";
  justify-content: center;
  align-content: start;
}


.navigation {
  grid-area: navigation;

  background-color: rgb(0, 246, 41);
}



.search-bar {
  grid-area: search-bar;
  background-color: rgba(56, 25, 181, 0.326);

}

.results {
  grid-area: results;
  height: 600px;
  background-color: rgb(192, 25, 170);
}

.footer {
  //grid-area: footer;
  background-color: rgb(19, 193, 209);
  position: absolute;
 bottom: 0;
  height: 6rem;
  width: 100%;
}