#root {
  width: 100%;
  min-height: 100vh;
  height: 1px;
  //max-width: 1280px;
  background-color: red;
}



.container {
  margin: auto;
  //margin: auto;
  //margin-top: 5rem;
  //width: clamp(400px, 95%, 1300px);
  width: clamp(600px,90%,1200px);
  height: 80%;
  background-color: green;


  // display: grid;
  // grid-template-columns: minmax(0, 1fr) minmax(500px, 4fr) minmax(0, 1fr);
  // grid-template-rows: 8rem 30rem auto auto;
  // gap: 0px 0px;
  // grid-template-areas:
  //   ". navigation ."
  //   ". search-area ."
  //   ". results ."
  //   "footer footer footer";
  // justify-content: center;
  // align-content: center;


}




.search-area__bg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  grid-row: 2/3;
  grid-column: 1/-1;
  filter: brightness(50%);
}