@import './vars.scss';

#root {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  background-color: $background;
  position: relative;
  padding-bottom: 6rem; ///for footer
}


.bg-video {
  position: absolute;
  object-fit: cover;
  height: 31rem;
  width: 100%;
  
  filter: brightness(50%);
  //animation-name: bg-video-darken;
  animation-fill-mode: forwards;
  animation-duration: 6s;
  animation-iteration-count: 1;
}

@keyframes bg-video-darken {
  from {
    filter: brightness(100%);
  }

  to {
    filter: brightness(50%);
  }
}




.container {
  position: relative;
  margin: 0 auto;
  width: clamp(400px, 95%, 1200px);
  //background-color: rgba(32, 201, 17, 0.532);



  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 25rem auto;
  grid-template-areas:
    "navigation"
    "search-bar"
    "results";

  justify-content: center;
  align-content: stretch;
  align-items: stretch;
}









.footer {
  //grid-area: footer;
  background-color: #081158;
  position: absolute;
  bottom: 0;
  height: 6rem;
  width: 100%;
}