.results {
  grid-area: results;
  min-height: 600px;
  height: fit-content;
  display: grid; 
  grid-template-columns: 1fr 3fr;
}

.results-ticket-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}


