.search-bar {
    grid-area: search-bar;
    background-color: rgba(56, 25, 181, 0.326);
    display: grid; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    width: 100%; 
    height: 100%; 
}